html,
body {
  margin: 0;
  padding: 0;
  background-image: url(images/table.png);
  font-family: "Exo 2", sans-serif;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

button {
  background-color: #fff100;
  cursor: pointer;
  border: none;
}
